
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


body{
    background: url("https://i.imgur.com/ZFbJlRI.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    display:flex;
    justify-content: center;
    
}


.lakitu{
    width:fit-content;
    position: relative;
    z-index:-1;
    left:3px;
    top:20px;
    width: 600px;
    object-fit: contain;
}

.botonera{
    position:absolute;
    bottom:-30px;
    display:flex;
    flex-direction: column;
    left:125px;
}

.botonera button{
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.botonera button:active {
    background-color:#2d7a42;
}

.semaforo{
    transition:transform 6s;
    transform: scale(0.7);
    display:flex;
    flex-direction: column;
    width:600px;
    height:600px;
}

.body{
    position:relative;
    top:-350px;
    left: 400px;
    background-color: black;
    width: 200px;
    border-radius: 100px;
    padding: 50px;
    border:gray solid 5px;
}

.light{
    width: 120px;
    height: 120px;
    margin-block: 10%;
    border-radius: 50%;
}

.redLight{
    background: #CE5937;
    background: -moz-radial-gradient(center, #ce5a3775 0%, #a40000bd 60%);
    background: -webkit-radial-gradient(center, #ce5a3775 0%, #a40000bd 60%);
    background: radial-gradient(ellipse at center, #ce5a3775 0%, #a40000bd 60%);
}

.yellowLight{
    background: #f3e745;
    background: -moz-radial-gradient(center, #e2b34e75 0%, #94a400bd 60%);
    background: -webkit-radial-gradient(center, #e2b34e75 0%, #94a400bd 60%);
    background: radial-gradient(ellipse at center, #e2b34e75 0%, #94a400bd 60%);
}
.greenLight{
    background: #3cce37;
    background: -moz-radial-gradient(center, #50b45075 0%, #0ea400bd 60%);
    background: -webkit-radial-gradient(center, #50b45075 0%, #0ea400bd 60%);
    background: radial-gradient(ellipse at center, #50b45075 0%, #0ea400bd 60%);
}

.redActive{
    background: #CE5937;
    background: -moz-radial-gradient(center, #CE5937 0%, #A40000 60%);
    background: -webkit-radial-gradient(center, #CE5937 0%, #A40000 60%);
    background: radial-gradient(ellipse at center, #CE5937 0%, #A40000 60%);
    box-shadow: #A40000 0px 0px 5px, #A40000 0px 0px 10px, #A40000 0px 0px 15px, #CE5937 0px 0px 20px, #CE5937 0px 0px 30px, #CE5937 0px 0px 40px, #CE5937 0px 0px 50px, #CE5937 0px 0px 75px;

    
}
.yellowActive{
    background: #cec437;
    background: -moz-radial-gradient(center, #cbff50 0%, #e1fa02 60%);
    background: -webkit-radial-gradient(center, #cbff50 0%, #e1fa02 60%);
    background: radial-gradient(ellipse at center, #cbff50 0%, #e1fa02 60%);
    box-shadow: #fdf923 0px 0px 5px, #fdf923 0px 0px 10px, #fdf923 0px 0px 15px, #ffe600 0px 0px 20px, #ffe600 0px 0px 30px, #ffe600 0px 0px 40px, #ffe600 0px 0px 50px, #ffe600 0px 0px 75px;

}
.greenActive{
    background: #3cce37;
    background: -moz-radial-gradient(center, #50b450 0%, #16f002 60%);
    background: -webkit-radial-gradient(center, #50b450 0%, #16f002 60%);
    background: radial-gradient(ellipse at center, #50b450 0%, #16f002 60%);
    box-shadow: #23fd59 0px 0px 5px, #23fd59 0px 0px 10px, #23fd59 0px 0px 15px, #16f002 0px 0px 20px, #16f002 0px 0px 30px, #16f002 0px 0px 40px, #16f002 0px 0px 50px, #16f002 0px 0px 75px;
}


.purpleLight{
    background: #f85bf085;
    background: -moz-radial-gradient(center, #f85bf085 0%, #a0019885 60%);
    background: -webkit-radial-gradient(center, #f85bf085 0%, #a0019885 60%);
    background: radial-gradient(ellipse at center, #f85bf085 0%, #a0019885 60%);
}

.purpleActive{
    background: #f85bf0;
    background: -moz-radial-gradient(center, #f85bf0 0%, #e702dc 60%);
    background: -webkit-radial-gradient(center, #f85bf0 0%, #e702dc 60%);
    background: radial-gradient(ellipse at center, #f85bf0 0%, #e702dc 60%);
    box-shadow: #fd23f2 0px 0px 5px, #fd23f2 0px 0px 10px, #fd23f2 0px 0px 15px, #e702dc 0px 0px 20px, #e702dc 0px 0px 30px, #e702dc 0px 0px 40px, #e702dc 0px 0px 50px, #e702dc 0px 0px 75px;

}

